
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter, required: true %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, required: true %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>