<!-- <p id="notice"><%= notice %></p> -->

<% if user_signed_in? %>
<tr>
  <td><%= image_tag current_user.avatar.attached? ? current_user.avatar : 'profile.png', size: "100"%></td>
  <td>Hello <%= current_user.name %></td>
  <td><%= link_to('Logout', destroy_user_session_path, method: :delete) %></td>
</tr>
<% else %>
Hello Guest
  <%= link_to('Login', new_user_session_path)  %>  
<% end %>

<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <%if user_signed_in? && current_user.id == post.user_id%>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


