<div class="container ">
	<div class="card">
		<div class="card-body">
			<div class="margin-bottom">
				<button type="button" class="btn btn-info">
  				<%= link_to 'Edit', edit_post_path(@post), class: 'white-text'%>
				</button> | 
				<button type="button" class="btn btn-secondary">
  				<%= link_to 'Back', posts_path, class: 'white-text' %>
				</button> 
			</div>

			<h4 class="card-title"><%= @post.title %></h4>
			<table style="">
			  <tr>
			    <th rowspan="2"><%= image_tag @post.user.avatar.attached? ? @post.user.avatar : 'profile.png', size: "50", class: 'round-image'%></th>
			    <td class="grey-color"><%= @post.user.name%></td>
			  </tr>
			  <tr>
			    <td class="grey-color"><%= formatted_date(@post.created_at)%></td>
			  </tr>
			</table>
			
			<div class="margin-top">
				<p class="card-text post-text-size"><%= @post.body %></p>

				<% if @post.image.attached?%>
					<%= image_tag @post.image, size: "120"%>
				<% end %>
			</div>
		</div>
	</div>

	<div class="margin-top">
		<h5>Comments</h5>
		<%= render @post.comments %>

		<h6>Add a comment:</h6>
		<%= render 'comments/form' %>
	</div>
</div>
